<a name="top"></a>
<div id="wrapper">
 
<header role="banner">
<span class="box_1 float_left">
      <br>
       <%= image_tag "shevron_small.gif", :style => 'float:left;' %>   
    
   <em >
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;пускай с моею мордою <br />
   &nbsp;&nbsp;&nbsp;печатных книжек нет, <br />
   &nbsp;&nbsp;вот эта блямба гордая <br />
   есть мой автопортрет
 </em>
 </span>
     <h1 class="box_2 reverse float_left">
    
    
     <br>мат 

 &nbsp;&nbsp;&nbsp;&nbsp;
     Стройбата 
     </h1>
    <h4 class=" white_shadow">
    <em>
    :авторский <br>сайт<br>графомана 
    </em>
    </h4>
     <strong class=" float_left">
     <em>р</em>укописи не горят<em>!..</em> ...в интернете ...&nbsp;&nbsp;&nbsp;
     </strong>
    <br>
       <nav role="navigation">
       
   
      <ul  >
        <li ><a href="http://sumizdut.narod.ru/index.html">главная полка</a></li>
        <li ><a href="http://sumizdut.narod.ru/volume-1/index.html" >&nbsp;том первый&nbsp;</a></li>
        <li><a href="http://sumizdut.narod.ru/volume-2/index.html">том второй</a></li>
        <li id="current"><a href="http://sumizdut.narod.ru/volume-3/index.html">том третий</a></li>
        <li><a href="http://sumizdut.narod.ru/volume-4/index.html">том четвёртый</a></li>
        <li><a href="http://sumizdut.narod.ru/volume-5/index.html">том пятый</a></li>
      </ul>
    

 </nav>
  </header>